/* HTML ---------------------------------*/

html {  font-family: 'Raleway', sans-serif;
        text-align: center;
    /*border: 1px solid rgba(0,0,0,1);*/
    /*background-color: rgba(0,0,0,0);*/
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;
}

p { text-align: center;
    text-decoration: none; 
    font-size: 3.75vh;
    /*border: 1px solid rgba(250,0,0,.75);*/
    /*background-color: rgba(250,0,0,.25);*/
    margin: auto; 
}

a {     text-align: center;
        text-decoration: none; 
        color: rgba(0,0,0,.25);
    /*border: 1px solid rgba(0,250,0,.75);*/
    /*background-color: rgba(0,250,0,.25);*/
    margin: auto; }
a:hover { color: black; text-decoration: none; /*border: 1px solid rgb(250,250,0);*/ }

.inlineDiv {
    /*border: 1px solid rgb(250,0,100);*/
    display: inline-flex;
    width: 100%;
}

.body {   text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.15);
    /*border: 1px solid rgba(150,150,0,.75);*/
    /*background-color: rgba(150,150,0,.25);*/
    width: 60vw;
    margin: auto;
    
}

/*.button {   font-size: 2.5vh;
            text-align: center;
            text-decoration: none; 
    border: 2px solid rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    padding: 2.5vh 2.5vw;
    margin: auto;
}*/
/*.button:hover { color: yellow; text-decoration: none; border: 1px solid rgb(250,250,0); }*/


/* HTML ---------------------------------*/

/* DIR ---------------------------------*/

.header {   text-align: center;
            font-family: 'Carrois Gothic SC', sans-serif;
            font-size: 5.25vw;
    /*border: 1px solid rgba(0,0,250,75);*/
    /*background-color: rgba(0,0,250,.25);*/
    padding: 7.5vh 0;
    width: 75%;
    margin: auto;
}

.footer {   font-size: 2.5vh;
            text-decoration: none;
    /*border: 1px solid rgba(100,250,100,.75);*/
    /*background-color: rgba(100,250,100,.25);*/
    width: 100%;
    margin: 15vh auto;
}

/* DIR ---------------------------------*/

/* PORTFOLIO STATE ---------------------------------*/

.ptfImg {  text-align: center;
    /*border: 1px solid rgba(150,0,0,.75);*/
    /*background-color: rgba(150,0,0,.25);*/
    height: 50vh;   
    width: 60vw;
    margin: 5% auto;
}

.ptfThmNl {  text-align: center;
    /*border: 1px solid rgba(250,0,0,.75);*/
    /*background-color: rgba(250,0,0,.25);*/
    height: 50vh;   
    width: 25vw;
    margin: 1.25vh auto;
}

.ptfBody {   text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.15);
    /*border: 1px solid rgba(150,150,0,.75);*/
    /*background-color: rgba(150,150,0,.25);*/
    width: 65vw;
    margin: auto;  
}

/*.ptfBtn {   font-size: 2.5vh;
            text-align: center;
            text-decoration: none; 
    border: 2px solid rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    padding: 2.5vh 2.5vw;
    margin: 5vh auto 0 auto;
}*/
/*.ptfBtn:hover { color: yellow; text-decoration: none; border: 1px solid rgb(250,250,0); }*/


/* PORTFOLIO STATE ---------------------------------*/

/* ABOUT STATE ---------------------------------*/

.abtBody {   text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.15);
    /*border: 1px solid rgba(150,150,0,.75);*/
    /*background-color: rgba(150,150,0,.25);*/
    width: 55vw;
    padding-bottom: 1.25%;
    margin: auto;  
}

/* ABOUT STATE ---------------------------------*/

/* CONTACT STATE ---------------------------------*/
.ctImg {  text-align: center;
    /*border: 1px solid rgba(250,0,25,.75);*/
    /*background-color: rgba(250,0,25,.25);*/
    height: 50vh;   
    width: 25vw;
    margin: 1.25vh auto;
}

.ctInfo {  font-size: 4vh;
                text-align: center;
    /*border: 1px solid rgba(250,0,25,.75);*/
    /*background-color: rgba(250,0,25,.25);*/
    height: 50vh;   
    width: 25vw;
    margin: auto;
}
.ctTxt {   font-size: 3.75vh;
                text-align: center;
    /*border: 1px solid rgba(0,0,0,.75);*/
    /*background-color: rgba(0,0,0,.25);*/
    height: 5vh; 
    width: 100%;  
    margin: 5vh auto;
}

.ctBtn {    font-size: 3.75vh;
            color: rgba(0,0,0,.25);
            text-align: center;
            text-decoration: none; 
    border: 2px solid rgba(0,0,0,.25);
    background-color: rgba(0,0,0,0);
    padding: 2.5vh 2.5vw;
    margin: 5vh auto 0 auto;
}
.ctBtn:hover { color: black; text-decoration: none; border: 2px solid rgb(0,0,0); }

.ctBody {   text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.15);
    /*border: 1px solid rgba(150,150,0,.75);*/
    /*background-color: rgba(150,150,0,.25);*/
    width: 55vw;
    padding-bottom: 1.25%;
    margin: auto;  
}
/* CONTACT STATE ---------------------------------*/

/* TEXTS ---------------------------------*/

.txtSm { font-size: 2.5vh;
         text-align: center;
         text-decoration: none;
         color: rgba(0,0,0,.5);
    /*border: 1px solid rgba(250,0,250,.75);*/
    /*background-color: rgba(250,0,250,.25);*/
    width: 100%;
    margin: auto;
}

.txtMd {    font-size: 3.75vh;
            text-align: center;
            color: rgba(0,0,0,.5);
    /*border: 1px solid rgba(0,0,0,.75);*/
    /*background-color: rgba(0,0,0,.25);*/
    height: 5vh; 
    width: 100%;  
    margin: auto;
}

.txtLg {    font-size: 5vh; 
            text-align: center;
            color: rgba(0,0,0,1);
    /*border: 1px solid rgba(0,250,250,.75);*/
    /*background-color: rgba(0,250,250,.25);*/
    height: 7.5vh; 
    width: 100%;  
    margin: auto; margin-top: 2.5%;
}

/* TEXTS ---------------------------------*/