/*STANDARD*/
html { margin:0; padding:0; }
body { 
    /*border: 1px solid gold;*/
    font-family:'Raleway',sans-serif; 
    text-align: center;
    color: rgba(0,0,0,.75); 
    letter-spacing: 5%;
    margin: 0 15vw; padding:0; 
}
.section {
    border-bottom:1px solid rgba(0,0,0,.125);
    padding: 5vh 0; margin: 0;
}
.title {
    font-size: 70px;
    margin: 5% 0; padding:0;
}
.largeText {
    font-size: 5vh;
    margin: 2.5% auto; 
}
.smallText {
    font-size: 2.5vh;
    line-height: 5vh;
    margin: 10vw auto; padding: 0;
}

.navigation { 
    /*border: 1px solid gold;*/
    margin: 5%; padding: 0;
}

.navLink {
    border: 1px solid rgba(0,0,0,.125);
    margin: 5% auto; padding: 2.5% 0;
    color: rgba(0,0,0,.75);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    width: 45%;
}

.navLink:hover { color: rgba(0,0,0,.5); }

img {
    margin:0; padding:0;
    height: 50%;
    width: 50%; 
}

.aboutMeText {
    text-align: center;
    font-size: 2.5vh;
    line-height: 5vh;
    margin: 3.75vh auto;
}

.projectDisplay {
    /*border: 1px solid red;*/
    margin: 5vh auto; padding:0;
}

.projectLink {
    /*border: 1px solid green;*/
    color: rgba(0,0,0,.75);
    font-size: 7.5vh;
    text-decoration: none;
    margin: 0; padding:0;
}

.projectLink:hover { color: gold; }

.contactInfo {
    /*border: 1px solid green;*/
    margin: 0 auto; padding: 0;
    font-family:'Raleway',sans-serif;
    text-align: left; 
    width: 100%;
}

.iconContainer { 
    /*border: 1px solid red;*/
    margin: 0 auto; padding: 0;
}

.contactLink {
    /*border: 1px solid gold;*/
    margin: 0 auto; padding: 0;
    color: rgba(0,0,0,.75);
    text-decoration: none;
}

i.fa { 
    /*border: 1px solid blue;*/
    margin: 2.5% auto; padding: 0;
    text-align: center;
    font-size: 50px;
    width: 100%;
    display: inline-flex; 
}

.fa-phone-square:hover { color: rgba(0, 200, 0, .75); }
.fa-envelope-square:hover { color: rgba(200, 0, 0, .75); }
.fa-linkedin-square:hover { color: rgba(0, 0, 100, .75); }
.fa-github:hover { color: rgba(250, 100, 0, .75); }

.faText { 
    /*border: 1px solid black;*/
    color: rgba(0,0,0,.75);
    margin: 2.5%; padding: 0;
    font-size: 50%; 
    text-decoration: none;
    letter-spacing: .5px;
    display: inline-flex;
}

.emblem { display: none; }

embed { height: 70vh; width: 100%; }
/*STANDARD*/



/*MOBILE*/
@media screen and  (max-width: 684px) {

    .title {
        font-size: 30px;
        margin: 5% 0; padding:0;
    }

    .smallText { letter-spacing: 1.25px; }

    .navigation {
        margin: 5% 0; padding: 0;
        display: inline-block;
    }

    .navLink {
        border: 1px solid rgba(0,0,0,.125);
        margin: 5% 0; padding: 2.5% 0;
        color: rgba(0,0,0,.75);
        font-size: 20px;
        display: inline-block;
        width: 100%;
    }

    img { margin:0; padding:0; height: 75%; width: 75%; }

    .contactInfo {
        margin: 10% auto; padding: 0;
        font-family:'Raleway',sans-serif;
        width: 75%;
        display: inline-flex;
    }

    i.fa { 
        margin: 0; padding: 0;
        font-size: 50px;
    }

    .faText { display: none; }

    .aboutMeText { text-align: center; }

    .emblem { display:none; }

    embed { height: 50vh; width: 100%; }
}
/*MOBILE*/



/*DESKTOP*/
@media screen and  (min-width: 876px) {
    .title {
        font-size: 10vh;
        margin: 5% 0; padding:0;
    }

    img {
        /*border: 1px solid blue;*/
        margin:0 auto; padding:0;
        width: 50%;
    }

    .navigation {
        display: inline-flex;
        margin: 5vh 0; padding: 0;
        width: 100%;
    }  

    .navLink {
        border: none;
        margin: 0 auto; padding: 0;
        color: rgba(0,0,0,.75);
        font-size: 2.5vh;
        text-decoration: none;
    }

    .navLinkDiv { display: none; }

    .contactInfo {
        /*border: 1px solid green;*/
        margin: 0 auto; padding: 0;
        text-align: left; 
        width: 50%;
    }

    .contactLink {
        /*border: 1px solid gold;*/
        margin: 0; padding: 0;
        color: rgba(0,0,0,.75);
        text-decoration: none;
        height: 100%; width: 100%;
        }

    i.fa { 
        /*border: 1px solid red;*/
        margin: 2.5% auto; padding: 0;
        text-align: center;
        font-size: 50px;
        width: 100%;
    }

    .faText { 
        /*border: 1px solid blue;*/
        margin: 2.5%; padding: 0;
        font-size: 50%; 
        letter-spacing: .5px;
    }

    .emblem {
        /*border: 1px solid red;*/
        font-size: 2.5vh;
        min-height: 7.5vh; max-height: 15vh;
        min-width: 7.5vh; max-width: 15vh;
        margin: 1.25vh auto; padding:0;
        display: inline-flex;
    }
    embed {
        /*border: 1px solid gold;*/
        height: 155vh;
        min-width: 61.25vw;
    }
}
/*DESKTOP*/